@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
      size: 20mm auto; /* Sesuaikan ukuran kertas nota */
      margin: 10mm;
  }

  body * {
      visibility: hidden;
  }

  .printable, .printable * {
      visibility: visible;
  }

  .printable {
      position: absolute;
      left: 0;
      top: 0;
  }
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
  
  code {
    font-family: 'Poppins', sans-serif;
  }